

<mat-toolbar color="primary">
    <mat-toolbar-row>
      
        <span>Welcome {{loggedUser | retrivename}}!</span>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/empFeedback'"> New Feedback </a>
        <a mat-button [routerLink]="'/feedbackList'"> List </a>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmitFeedBack(form)">
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="EmpName" formControlName="empName" required>
          <mat-error>
            Employee Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="EmpId" formControlName="empId" required>
          <mat-error>
            Employee Id is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Project</mat-label>
            <select matNativeControl  formControlName="project" required>
              <option value="Banking">Banking</option>
              <option value="HealthCare">HealthCare</option>
            </select>
          </mat-form-field>
          <mat-star-rating  [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>

        <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Comments" formControlName="comments" required></textarea>
            <mat-error>
              Comments is required
            </mat-error>
          </mat-form-field>
          <div class="action-button">
            <button mat-raised-button  [disabled]="!form.valid" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
          </div>
      </form>
    </mat-card-content>
  </mat-card>